:root {
  --color-text: #000000;
  --color-link: #1a5fb4;
  --color-link-hover: #0d3a6e;
  --color-bg: #fffdf6;
  --border-radius: 5px;
  --border: 1px solid #b6720c;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --width-content: 1300px;
  --font-family-heading:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --font-family-body:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: dotted;
}

/* body_classes: header-centered-dark, headings-centered */

body > footer .socials li a img,
body > footer .socials li a img:hover {
  filter: invert(40%) sepia(98%) saturate(401%) hue-rotate(357deg)
    brightness(98%) contrast(102%);
}

body {
  background: #faece1;
}

header {
  --color-text: #ffffff;
}

button,
.button,
input[type="submit"] {
  --color-link: #000000;
  --color-link-hover: #240808;
  --border: 2px solid #b6720c;
}
