<script>
  window.goatcounter = { no_onload: true };
  const trackPageView = () => {
    if (typeof window.goatcounter.count === "function") {
      window.goatcounter.count({
        path: location.pathname + location.search + location.hash,
      });
    }
  };
  document.addEventListener("DOMContentLoaded", trackPageView);
  document.addEventListener("turbo:load", trackPageView);
</script>
<script
  data-goatcounter="https://analytics.ukegroupnorth.com/count"
  async
  src="https://analytics.ukegroupnorth.com/count.js"
></script>
