<script>
  window.goatcounter = { no_onload: true };
  const trackPageView = () => {
    if (typeof window.goatcounter.count === "function") {
      window.goatcounter.count({
        path: location.pathname + location.search + location.hash,
      });
    }
  };
  document.addEventListener("DOMContentLoaded", trackPageView);
  document.addEventListener("turbo:load", trackPageView);
</script>
<script
  data-goatcounter="https://analytics.ukegroupnorth.com/count"
  async
  src="https://analytics.ukegroupnorth.com/count.js"
></script>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
